/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;700&display=swap');

/* Imput feild style */
.imput {
  width: 100%;
  height: 39px;
  border: none;
  border-bottom: 1.5px solid rgb(211, 211, 211);
  outline-style: none;
}

input[type="text"]
{
    font-family: "Ralewaye", sans-serif;
    font-size: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(153, 153, 153);
  opacity: 1; /* Firefox */
}

#imput_div {
  margin-left: 10px;
  margin-right: 10px;
}

