/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

/* Style For Student.css */
.student_article {
  border-bottom: 1px solid rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
}

/* Images */
img {
  width: 132px;
  height: 132px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 50%;
}

.pic {
  margin-top: 23px;
  margin-left: 20px;
  margin-right: 25px;
}

/* Student name */
.student_name {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  margin-top: 13px;
  margin-bottom: -1px;
}

.article_header {
  width: 550px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.icon {
  margin-top: 10px;
  font-size: 27px;
  color: rgb(151, 151, 151);
}

.student_info {
  margin-bottom: 25px;
  margin-left: 20px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
  margin-bottom: -8px;
}

.student_grades {
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.remove_grades {
  opacity: 0%;
  width: 0px;
  height: 0px;
}