/* Main Body */
body {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 227, 227);
}

/* Style for App.js */

.App {
  margin-top: 11%;
  border: 1px solid rgb(245, 243, 243);
  border-radius: 10px;
  text-align: center;
  width: 750px;
  height: 530px;
  overflow: auto;
  background-color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}